.container-fluid1{
    background-image: url(img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px;
}

.btn:hover{
    color: blue;
    background-color: green;
}